body {
  background-color: #212121;
  color: white;
}

.btn {
  border: 1px solid white;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
}

.activeBtn {
  border: 1px solid rgba(255, 255, 255, 0);
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  color: black;
  background-color: white;
  transition: 0.3s ease-in;
}